@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<body>
    <div id="root">This is element to render from React</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-with-addons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>
    <script src="/dist/application/admin_lib.js" asp-append-version="true"></script>
    <script src="/dist/application/admin.js" asp-append-version="true"></script>
   
</body>
