**/dist/
**/*.jsx
**/packages/**
**/*.suo
**/obj/**
**/bin/**
**/*.user
**/.idea
**/node_modules/**
**/.vs
CSM/src/CSM.Web/appsettings.json
CSM/src/CSM.Web/appsettings.json
CSM/.vs/config/applicationhost.config
CSM/.vs/restore.dg
CSM/.vs/restore.dg
*.dg
**/*.lock.json
CSM/src/CSM.Web/project.lock.json
CSM/src/CSM.Repository/project.lock.json
CSM/src/CSM.Common/project.lock.json
